[Unit]
Description=Temperature and Humditiy monitor
After=network.target

[Install]
WantedBy=multi-user.target


[Service]
# Have to run as root on CentOS to get access to DHT
#User=api
#Group=api
WorkingDirectory=/var/local/pi_temp/
Environment="PATH=/var/local/pi_temp/:$PATH"
Environment="PI_TEMP_APP_SETTINGS=/etc/sysconfig/pi-temp"
Environment="FLASK_APP=main.py"
ExecStart=/usr/local/bin/gunicorn --workers 3 -b 0.0.0.0:5000 main:app