[Unit]
Description=Temperature and Humditiy monitor
After=network.target

[Install]
WantedBy=multi-user.target


[Service]
User=api
Group=api
WorkingDirectory=/var/local/pi_temp/
Environment="PATH=/var/local/pi_temp/:$PATH"
Environment="PI_TEMP_APP_SETTINGS=/etc/sysconfig/pitemp"
ExecStart=/usr/local/bin/gunicorn --workers 3 -b 127.0.0.1:5000 main:app